In [1]:
import pandas as pd
import random
import numpy as np
from scipy import stats

In [2]:
aev = pd.read_csv("./Synthetic Data/Trial 1-GIST/syn_a_aev.csv")
drgexp = pd.read_csv("./Synthetic Data/Trial 1-GIST/syn_a_drgexp.csv")
effsen = pd.read_csv("./Synthetic Data/Trial 1-GIST/syn_a_effsen.csv")
ident = pd.read_csv("./Synthetic Data/Trial 1-GIST/syn_a_ident.csv")
lab = pd.read_csv("./Synthetic Data/Trial 1-GIST/syn_a_lab.csv")

In [108]:
def perform_permutation(patient_ids, N_PERM=10, data=[drgexp,effsen,lab]):
    drgexp = data[0]
    effsen = data[1]
    
    columns = list(drgexp) 
    col_dtypes = ['int64', 'int64', 'float64', 'int64', 'int64', 'int64', 'int64', 
                  'int64', 'int64', 'int64', 'int64', 'int64', 'int64', 'int64']
    

    all_cols = []
    count_effsen = 0
    count_lab = 0
    new_effsen_df = pd.DataFrame(columns=effsen.columns)
    new_lab_df = pd.DataFrame(columns=lab.columns)
    for i in range(N_PERM):
        updated_mask_id = i
        random_patient_id = random.sample(set(patient_ids), 3)
        
        #FOR DRUG DATA (DRGEXP)
        permuted_drgexp = drgexp[drgexp['MASK_ID'].isin(random_patient_id)]
        
        new_col = []
        for col_id,col in enumerate(columns):
            if col_dtypes[col_id] in ['float64']:
                new_col.append( np.mean(permuted_drgexp[col]))
            elif col_dtypes[col_id] in ['int64']:
                new_col.append(stats.mode(permuted_drgexp[col])[0][0])
            else:
                new_col.append(stats.mode(permuted_drgexp[col])[0][0])
            new_col[0] = updated_mask_id
        all_cols.append(new_col)
        
        
        #FOR EFFSEN Data
        effsen[effsen['MASK_ID'].isin(random_patient_id)]

        effsen_df = pd.DataFrame(columns=effsen.columns)
        for pos_id in range(8):
            pos = [0+pos_id, 8+pos_id, 16+pos_id]
            TT_EVENT = np.mean(effsen.iloc[pos])[1]
            EVENT = stats.mode(effsen.iloc[pos]['EVENT'])[0][0]
            new_effsen_df.loc[count_effsen] = [updated_mask_id, effsen.iloc[pos[0]]['E_TEXT'], int(TT_EVENT), EVENT] 
            count_effsen += 1
    
        #FOR LAB DATA
        lab[lab['MASK_ID'].isin(random_patient_id)]

        lab_df = pd.DataFrame(columns=lab.columns)
        for pos_id in range(6):
            pos = [0+pos_id, 6+pos_id, 12+pos_id]
            LABRSL1N = np.mean(lab.iloc[pos])[1]
            new_lab_df.loc[count_lab] = [updated_mask_id, lab.iloc[pos[0]]['PARNAM1C'], 
                                         lab.iloc[pos[0]]['PARNAM1A'],lab.iloc[pos[0]]['PARUNT1C'], 
                                         LABRSL1N]
            count_lab += 1
        
    new_df = pd.DataFrame(all_cols, columns = list(columns))
    return(new_df,new_effsen_df, new_lab_df)

In [109]:
patient_ids = drgexp[drgexp.AVGDOS_C==1]['MASK_ID']
temp1, temp2, temp3 = perform_permutation(patient_ids)

/Users/gaurav/.pyenv/versions/3.6.0/lib/python3.6/site-packages/scipy/stats/stats.py:253: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  "values. nan values will be ignored.", RuntimeWarning)

In [123]:
np.unique(effsen[effsen.EVENT==0]['MASK_ID'])
np.unique(effsen[effsen.EVENT==1]['MASK_ID'])

array([  1,  15,  25,  33,  37,  43,  77,  78,  92,  95,  96, 101, 108,
       114, 116, 121, 124, 130, 132, 139, 142, 146, 157, 174, 175, 181,
       184, 185, 187, 191, 198, 200, 202, 209, 212, 215, 224, 225, 237,
       243, 254, 258, 259, 283, 292, 300, 304, 310, 312, 338, 343, 358,
       359, 361, 362, 367, 373, 382, 386, 405, 407, 416, 430, 432, 436,
       465, 488, 504, 516, 517, 524, 537, 545, 555, 557, 560, 562, 577,
       586, 591, 594, 601, 633, 643, 656, 665, 679, 681, 693, 702, 705,
       714, 717, 729, 731, 740, 752, 758, 767])

In [126]:
temp3

   MASK_ID PARNAM1C         PARNAM1A   PARUNT1C    LABRSL1N
0        0     CREA       Creatinine      mg/dL   10.666667
1        0    PLAT2   Platelet Count  thous/mm3  216.666667
2        0     SGOT              AST        U/L   83.333333
3        0     SGPT              ALT        U/L  131.666667
4        0     TBIL  Total Bilirubin      mg/dL    5.000000
5        0      WBC              WBC  thous/mm3  413.666667
6        1     CREA       Creatinine      mg/dL   10.666667
7        1    PLAT2   Platelet Count  thous/mm3  216.666667
8        1     SGOT              AST        U/L   83.333333
9        1     SGPT              ALT        U/L  131.666667
10       1     TBIL  Total Bilirubin      mg/dL    5.000000
11       1      WBC              WBC  thous/mm3  413.666667
12       2     CREA       Creatinine      mg/dL   10.666667
13       2    PLAT2   Platelet Count  thous/mm3  216.666667
14       2     SGOT              AST        U/L   83.333333
15       2     SGPT              ALT        U/L  131.666667
16       2     TBIL  Total Bilirubin      mg/dL    5.000000
17       2      WBC              WBC  thous/mm3  413.666667
18       3     CREA       Creatinine      mg/dL   10.666667
19       3    PLAT2   Platelet Count  thous/mm3  216.666667
20       3     SGOT              AST        U/L   83.333333
21       3     SGPT              ALT        U/L  131.666667
22       3     TBIL  Total Bilirubin      mg/dL    5.000000
23       3      WBC              WBC  thous/mm3  413.666667
24       4     CREA       Creatinine      mg/dL   10.666667
25       4    PLAT2   Platelet Count  thous/mm3  216.666667
26       4     SGOT              AST        U/L   83.333333
27       4     SGPT              ALT        U/L  131.666667
28       4     TBIL  Total Bilirubin      mg/dL    5.000000
29       4      WBC              WBC  thous/mm3  413.666667
30       5     CREA       Creatinine      mg/dL   10.666667
31       5    PLAT2   Platelet Count  thous/mm3  216.666667
32       5     SGOT              AST        U/L   83.333333
33       5     SGPT              ALT        U/L  131.666667
34       5     TBIL  Total Bilirubin      mg/dL    5.000000
35       5      WBC              WBC  thous/mm3  413.666667
36       6     CREA       Creatinine      mg/dL   10.666667
37       6    PLAT2   Platelet Count  thous/mm3  216.666667
38       6     SGOT              AST        U/L   83.333333
39       6     SGPT              ALT        U/L  131.666667
40       6     TBIL  Total Bilirubin      mg/dL    5.000000
41       6      WBC              WBC  thous/mm3  413.666667
42       7     CREA       Creatinine      mg/dL   10.666667
43       7    PLAT2   Platelet Count  thous/mm3  216.666667
44       7     SGOT              AST        U/L   83.333333
45       7     SGPT              ALT        U/L  131.666667
46       7     TBIL  Total Bilirubin      mg/dL    5.000000
47       7      WBC              WBC  thous/mm3  413.666667
48       8     CREA       Creatinine      mg/dL   10.666667
49       8    PLAT2   Platelet Count  thous/mm3  216.666667
50       8     SGOT              AST        U/L   83.333333
51       8     SGPT              ALT        U/L  131.666667
52       8     TBIL  Total Bilirubin      mg/dL    5.000000
53       8      WBC              WBC  thous/mm3  413.666667
54       9     CREA       Creatinine      mg/dL   10.666667
55       9    PLAT2   Platelet Count  thous/mm3  216.666667
56       9     SGOT              AST        U/L   83.333333
57       9     SGPT              ALT        U/L  131.666667
58       9     TBIL  Total Bilirubin      mg/dL    5.000000
59       9      WBC              WBC  thous/mm3  413.666667